<section class="archive-grid">	
	<h1 class="article-title"><%= title %></h1>
	
			<div class="links-section">
				<ul>				
					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								<span class='iconic camera'></span> Early Aeronautics<em> A photographic reminder that Texas A&amp;M's history of applied and basic research in aeronautics goes back to the 1940s.</em>
							</div>
								<img class="archive-grid-img" src="images/AeronauticalEngineering.jpg" alt="" />
						</a>
					</li>
					
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								<span class='iconic camera'></span> Agriculture<em>A space here for extra copy per each article. An excerpt or specialized custom teaser.</em>
							</div>
								<img class="archive-grid-img" src="images/botanist-slide.jpg" alt="" />
						</a>
					</li>

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								<span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em>
							</div>
								<img class="archive-grid-img" src="/images/solarpipe.jpg" alt="" />
						</a>
					</li>
					
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								<span class='icon'>v</span> Going Nuclear <em>A space here for extra copy per each article. An excerpt or specialized custom teaser.</em>
							</div>
								<img class="archive-grid-img" src="images/nuclear.jpg" alt="" />
						</a>
					</li>

					<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 
					
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								One Health<em>A space here for extra copy per each article. An excerpt or specialized custom teaser.</em>
							</div>
								<img class="archive-grid-img" src="images/1health.jpg" alt="" />
						</a>
					</li>

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 			

					<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
					
					<li class="archive-grid-item-with-img">
						<a href="/light">
							<div class="grid-item-wrap">
								<span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em>
							</div>
								<img class="archive-grid-img" src="/images/light-pipe.jpg" alt="" />
						</a>
					</li>

					<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 
				
				<ul>
			</div>

</section><!-- /.archive-grid -->