<article class="entry-content">
	<div class="column">	
	<header class="article-header">
		<h1 class="article-title"><%= title %></h1>
			<date class="article-date"><span class='iconic clock'></span><span class="word1"> Oct </span><span class="word2">10 </span><span class="word3"> 2012</span></date>	
	</header>
	
	<script src="javascripts/d3.v2.js"></script>
	
	<div id="viz"></div>

		<p>NASA’s top scientists—including a Texas A&amp;M University researcher—hope to find out how Mars’ climate has evolved over billions of years, and answers could come soon in the mission involving Curiosity, a Volkswagen-sized rover that is headed toward the Red Planet and will land in early August. It was launched Nov. 26, 2011, and is traveling at 13,000 miles per hour.</p>

		<p>Once there, it could answer many questions scientists have had for decades, including some involving the possibility of life on the planet, says Mark Lemmon, an atmospheric sciences professor at Texas A&amp;M who will serve as one of Curiosity’s camera operators.</p>
		<div class="entry-meta">
			<div class="article-tags">
				<p><span class='iconic tag_fill'></span> Tags</p>
				<ul>
					<li><a href="">Solar</a></li>
					<li><a href="">Light</a></li>
					<li><a href="">Energy</a></li>																								
				</ul>
			</div>
		</div>
	<div class="sidebar">
		<div class="links-section">
			<h2>Recent</h2> 
			<ul>
				<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

				<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

				<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
			<ul>
		</div>
		<div class="links-section">
			<h2>Related</h2> 
			<ul>
				<li><a href="">Lorem Ipsum<em>Capacities</em></a></li>

				<li><a href="">Lorem Ipsum<em>Rankings</em></a></li> 

			<ul>
		</div>		
	</div>				
</article><!-- /.entry-content -->