<article class="entry-content">
	<h1 class="article-title"><%= title %></h1>
		
	<div class="links-section events-wrap">

		<ul class="upcomingevents" id="upcomingevents">
			<li>
				<a href="http://calendar.tamu.edu/?calendar_id=906&amp;y=2012&amp;m=09&amp;d=20&amp;eventdatetime_id=10363&amp;">IACUC Meeting <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
	
			</li>
			<li>
					<a href="http://calendar.tamu.edu/?calendar_id=906&amp;y=2012&amp;m=09&amp;d=26&amp;eventdatetime_id=10373&amp;">IBC meeting <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>

			</li>
			<li>
				<a href="http://calendar.tamu.edu/?calendar_id=906&amp;y=2012&amp;m=09&amp;d=20&amp;eventdatetime_id=10363&amp;">IACUC Meeting <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
	
			</li>
			<li>
					<a href="http://calendar.tamu.edu/?calendar_id=906&amp;y=2012&amp;m=09&amp;d=26&amp;eventdatetime_id=10373&amp;">IBC meeting <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>

			</li>
		</ul>

		<a class="button contrast" href=""><span class="iconic rss_alt"></span> Get Full Calendar</a>

	</div>
	
</article>