<article class="entry-content">
	
	<header class="article-header">
		<h1 class="article-title"><%= title %></h1>
	</header>

	<div class="funding">
		<div class="funding-total-availible funding-box">
			<p><span>$13.5 M</span> Total Available Strategic Investment</p>
		</div>		
		<div class="funding-management-fee funding-box">
			<p><span>$3.4 M</span> Grant Management Fees</p>		
		</div>	

		<div class="paths">		
			<div class="direct-path">	
				<div class="funding-direct-idc funding-box">
					<p><span>$6.7 M</span> Direct IDC Return to Colleges</p>			
				</div>
			</div>
		
			<div class="strategic-path">
				<div class="funding-dev-pool funding-box funding-parent">
					<p><span>$6.8 M</span> Program Development Pool</p>			
				</div>
				<div class="funding-carry-forward funding-box funding-parent">
					<p><span>$2.1 M</span> <em>Strategic Carry-Forward Pool</em></p>				
				</div>	
			</div>
		</div><!-- /.paths -->
			
		<div class="funding-total funding-box funding-parent">
			<p><span>$15.6 M</span> Total to Colleges</p>			
		</div>			
	</div><!-- /.funding -->
	
</article><!-- /.entry-content -->