<section class="front-page-content entry-content">
	
	<div class="posts-content">	
		
		<div class="first-posts-section">
			 
			<div class="leadin-wrap first-article">	
				<a class="leadin-link" href="">						
					<img class="leadin-img" src="images/architect.jpg" alt="" />	
					<div class="leadin-info-wrap">
						<h2 class="leadin-title"><span class="iconic camera"></span> Designing Space for Health</h2>
							<p class="leadin-excerpt">A photographic reminder that Texas A&amp;M's history of applied and basic research in aeronautics goes back to the 1940s.
							</p>
					</div>					
				</a>
			</div>
			
			<div class="second-level">
				<div class="leadin-wrap">	
					<a class="leadin-link" href="">	
						<img class="leadin-img" src="images/pill.png" alt="" />
						<h2 class="leadin-title"><span class="iconic pin"></span> Powerful Pill</h2>
						<p class="leadin-excerpt">Texas A&amp;M Biologists Prove ZOLOFT Packs Potential to Fight Fungal Meningitis.</p>						
					</a>
				</div>
			</div>
			
			<div class="second-level second-level-right">							
				<div class="leadin-wrap">	
					<a class="leadin-link" href="">	
						<img class="leadin-img" src="images/solarpipe.jpg" alt='botanist-slide.jpg'>	
						<h2 class="leadin-title"><span class="iconic camera"></span> Solar Light Pipe</h2>
						<p class="leadin-excerpt">A space here for extra copy per each article. An excerpt or specialized custom teaser.</p>
					</a>
				</div>								
			</div>
			
		</div>

		<div class="tags-section"> 
			<h2><span class='iconic tag_fill'></span> Tags</h2>			
			<ul>
				<li><a href="">Health</a></li> 
				<li><a href="">Energy</a></li>
				<li><a href="">Solar</a></li>
				<li><a href="">Health</a></li> 
				<li><a href="">Air</a></li>
				<li><a href="">Water</a></li>				
				<li><a href="">Medicine</a></li>
				<li><a href="">Solar</a></li>	
				<li><a href="">Agriculture</a></li>
				<li><a href="">Space</a></li>				
				<li><a href="">Energy</a></li>
				<li><a href="">Solar</a></li>				
				<li><a href="">Medicine</a></li>
				<li><a href="">Solar</a></li>	
				<li><a href="">Agriculture</a></li>
				<li><a href="">Space</a></li>				
				<li><a href="">Energy</a></li>
				<li><a href="">Solar</a></li>								
			</ul>
			<div class="more-tags-button clearfix"><a class="button more-tags" href="/search">More Tags &rarr;</a></div>
		</div>
	
		<div class="links-section last-posts-section"> 		
			<ul>
				<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

				<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

				<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

				<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
			</ul>	
			<div class="archive-button"><a class="button" href="/archive">Post Archive &rarr;</a></div>			
		</div>		
	</div><!-- /.posts-content -->
	
</section>