
<article class="entry-content">
	<h1 class="article-title"><%= title %></h1>
		
	<div class="links-section news-feed1">
		<h2>News from Campus</h2>
		<ul class="news" id="news1">
			<li>
				<a href="http://blog.chron.com/sciguy/2012/08/a-single-gene-may-be-key-to-breeding-the-fastest-trotters/">A Single Gene May Be Key To Breeding The Fastest Trotters <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.theeagle.com/article/20120830/BC0101/120839949/1004/BC0101">A&amp;M Researcher Part Of Team That Connects Horses Gaits To Genetic Mutation <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://us.vocuspr.com/ViewNewsOnDemand.aspx?Preview=true&amp;ArticleID=513992_24816_141575765">Bad Is The New Good? <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://us.vocuspr.com/ViewNewsOnDemand.aspx?Preview=true&amp;ArticleID=513992_24816_146862517">Building A Better Cow <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.individual.com/storyrss.php?story=162609657&amp;hash=e38cbe4343b9dcc911391997a59aa3cd">Research And Markets Adds Report: Global Apparel Markets: Product Developments And Innovations, 2nd Quarter 2012: Marks &amp; Spencer Develops A New Suit Made From Sustainable Materials <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.thelog.com/SNW/Article/17th-Century-Shipwreck-to-Be-Freeze-dried--Rebuilt">17th Century Shipwreck To Be Freeze-dried, Rebuilt <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.ktrh.com/pages/traffic_blog.html?article=10383730">How's Your Drive In On The Katy ? ***Roxanne | Traffic - NewsRadio 740 KTRHHouston News, Weather, Traffic <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
		</ul>
		<a class="button contrast" href=""><span class="iconic rss_alt"></span> Get Feed</a>
		
	</div>
	
	
	<div class="links-section news-feed2">
		<h2>A&amp;M Research in the News</h2>		
		<ul class="news" id="news2">
			<li>
				<a href="http://blog.chron.com/sciguy/2012/08/a-single-gene-may-be-key-to-breeding-the-fastest-trotters/">A Single Gene May Be Key To Breeding The Fastest Trotters <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.theeagle.com/article/20120830/BC0101/120839949/1004/BC0101">A&amp;M Researcher Part Of Team That Connects Horses Gaits To Genetic Mutation <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://us.vocuspr.com/ViewNewsOnDemand.aspx?Preview=true&amp;ArticleID=513992_24816_141575765">Bad Is The New Good? <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://us.vocuspr.com/ViewNewsOnDemand.aspx?Preview=true&amp;ArticleID=513992_24816_146862517">Building A Better Cow <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.individual.com/storyrss.php?story=162609657&amp;hash=e38cbe4343b9dcc911391997a59aa3cd">Research And Markets Adds Report: Global Apparel Markets: Product Developments And Innovations, 2nd Quarter 2012: Marks &amp; Spencer Develops A New Suit Made From Sustainable Materials <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.thelog.com/SNW/Article/17th-Century-Shipwreck-to-Be-Freeze-dried--Rebuilt">17th Century Shipwreck To Be Freeze-dried, Rebuilt <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
			<li>
				<a href="http://www.ktrh.com/pages/traffic_blog.html?article=10383730">How's Your Drive In On The Katy ? ***Roxanne | Traffic - NewsRadio 740 KTRHHouston News, Weather, Traffic <em class="newsDate"><span class="word1">Aug</span><span class="word2">30</span> <span class="word3">2012</span></em></a>
			</li>
		</ul>
<a class="button contrast" href=""><span class="iconic rss_alt"></span> Get Feed</a>		
		
	</div>
	
</article>