<article class="entry-content">
	<div class="column">	
		<header class="article-header">
			<h1 class="article-title"><%= title %></h1>
				<date class="article-date"><span class='iconic clock'></span><span class="word1"> Oct </span><span class="word2">10 </span><span class="word3"> 2012</span></date>	
		</header>
	
	<p>Three hundred ninety-seven miles of beaches; an abundant source of vacation activities; ample fishing, waterfowl hunting, and birding; major ports that are the economic engine of the community; commercial fisheries—this is the Texas Gulf Coast—an abundance of natural resources with an economic interplay that is critical to the state of Texas.</p>
	
	<h2>Number Five is Alive!</h2>
<img src="/images/rover.png" alt='rover'>	
	<p>What protects these resources, both environmentally and economically? Technology that has been developed at <a href="">Texas A&amp;M University</a> through a team of researchers that have engineered the only buoy system of its kind in the Gulf of Mexico and one of the few of its kind in the world—the <a href="">Texas Automated Buoy System</a>, or TABS as it is known, that accurately predicts the movement of oil spills.</p>

	
	<p><em>“The instruments on each buoy can tell us precise information about ocean currents, wind speed, water temperature, and other data that allows us to accurately predict where a spill is headed and when it will present a problem to the coastline,”</em> says Norman Guinasso Jr., project manager of the TABS project, part of the College of Geosciences’ Geochemical and Environmental Research Group (GERG) at Texas A&amp;M.</p>
	
	<blockquote><p>The buoy system has already saved Texas taxpayers hundreds of thousands of dollars and has served as a model for other universities that are developing similar buoys to detect pollution such as oil spills.</p></blockquote>
	
	<p>Three hundred and ten million tons of imported crude oil are transported through the Gulf of Mexico every year. Over 20 percent of that is lightered to smaller tankers for delivery to ports in Texas. On average, five tankers a day call on the port of Houston.</p>

<object width="560" height="315"><param name="movie" value="http://www.youtube.com/v/g-la394nzas?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/g-la394nzas?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
	
	<p>During 1995, the Berge Banker spill released approximately 2,000 barrels of oil into the Gulf and sea conditions made it difficult to track. Arial observations indicated that the oil was being broken up and was unlikely to impact the coast. Eleven days after the spill, oil came ashore on Matagorda Island in the form of thick tar balls. One year later TABS data was used during the Buffalo Marine Barge 292 oil spill and TABS data showed that the currents had reversed—saving hundreds of thousands of dollars that would have been spent protecting the Sabine Wildlife Sanctuary.</p>
	
	<p>At the time of the Berge Banker spill the commercial fishery alone was worth over 400 million dollars per year and 30,000 jobs. Recreational fishing was responsible for 11,000 jobs and $320 million in annual revenue. The tourism industry along the Texas coast supported 100,000 jobs and contributed $6 billion annually to the Texas economy. By 2007, coastal tourism in Texas was worth $12 billion—double what it was at the time of the 1995 spill.</p>
	
	<p>Almost 6 million people live in the Texas coastal area and are dependent on the natural resources of the Texas Gulf Coast’s lands, waters, wildlife, beaches, bays, and estuaries to create and maintain a sustainable economy.</p>
	
	<p>Texas A&amp;	M University is involved in numerous research projects that focus on protecting and preserving the abundant resources of the Texas Gulf coast:</p>

	<div class="links-section">
		<h2>Links</h2> 
		<ul>
			<li><a href="http://www.thebatt.com/colombia-enlists-a-m-help-to-purify-dirty-waters-1.2844448"><span class='iconic link'></span> Colombia Enlists A&amp;M Help to Purify Dirty Waters<em>Texas A&amp;M is cleaning up Colombia's dirty water</em></a></li> 

			<li><a href="http://www.seco.cpa.state.tx.us/colonias.htm"><span class='iconic link'></span> Colonias Projects (water purification systems)<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

			<li><a href="http://aggie-horticulture.tamu.edu/earthkind/drought/water/"><span class='iconic link'></span> Efficient Use of Water<em>Texas drought and Texas A&amp;M Horticulture</em></a></li>
		<ul>
	</div>

	<div class="entry-meta">
		<div class="article-tags">
			<p><span class='iconic tag_fill'></span> Tags</p>
			<ul>
				<li><a href="">Solar</a></li>
				<li><a href="">Light</a></li>
				<li><a href="">Energy</a></li>																								
			</ul>
		</div>
	</div>
	</div>	
	


<div class="sidebar">	
	<div class="links-section">
		<h2>Recent</h2> 
		<ul>
			<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

			<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

			<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

		<ul>
	</div>
	<div class="links-section">
		<h2><span class='iconic document_alt_fill'></span> Capacities</h2> 
		<ul>
			<li><a href="">Lorem Ipsum<em>Capacities</em></a></li>
			
			<li><a href="">Lorem Ipsum<em>Rankings</em></a></li> 

		<ul>
	</div>	
</div>	

</article><!-- /.entry-content -->