<section class="search">	
		<h1 class="article-title">Search &amp; Tags</h1>	
		<div class="tags-section"> 
			<h2><span class='iconic tag_fill'></span> Tags</h2>	
				<ul>
					<li><a href="">Air</a></li>
					<li><a href="">Water</a></li>				
					<li><a href="">Medicine</a></li>
					<li><a href="">Solar</a></li>	
					<li><a href="">Agriculture</a></li>
					<li><a href="">Space</a></li>						
					<li><a href="">Health</a></li> 
					<li><a href="">Energy</a></li>
					<li><a href="">Solar</a></li>
					<li><a href="">Health</a></li> 			
					<li><a href="">Energy</a></li>
					<li><a href="">Solar</a></li>	
					<li><a href="">Air</a></li>
					<li><a href="">Water</a></li>				
					<li><a href="">Medicine</a></li>
					<li><a href="">Solar</a></li>	
					<li><a href="">Agriculture</a></li>										
					<li><a href="">Medicine</a></li>
					<li><a href="">Solar</a></li>	
					<li><a href="">Agriculture</a></li>
					<li><a href="">Space</a></li>				
					<li><a href="">Energy</a></li>
					<li><a href="">Solar</a></li>								
				</ul>
		</div>
		
		<div class="links-section search-wrap"> 
			<h2>Search</h2>	
			<div class="search-form">	
				<form>
					<input class="search-input" placeholder="e.g. Solar Energy" />
				</form>
			</div>
		</div>			
</section><!-- /.archive-grid -->