<article class="entry-content">	
	

	<div class="column">
		<header class="article-header">
			<h1 class="article-title"><%= title %></h1>
				<date class="article-date"><span class='iconic clock'></span><span class="word1"> Oct </span><span class="word2">10 </span><span class="word3"> 2012</span></date>	
		</header>		
		<p>NASA’s top scientists—including a <a href="">Texas A&amp;M University</a> researcher—hope to find out how Mars’ climate has evolved over billions of years, and answers could come soon in the mission involving Curiosity, a Volkswagen-sized rover that is headed toward the Red Planet and will land in early August. It was launched Nov. 26, 2011, and is traveling at 13,000 miles per hour.Once there, it could answer many questions scientists have had for decades, including some involving the possibility of life on the planet, says <a href="">Mark Lemmon</a>, an atmospheric sciences professor at Texas A&amp;M who will serve as one of Curiosity’s camera operators.</p>
		
		
		<a class="button" href="">Basic Button</a>
		<a class="button contrast" href="">Contrast Button</a>
		
		<a class="arrow left" href=""><span class='iconic arrow_left_alt1'></span></a>
		<a class="arrow right" href=""><span class='iconic arrow_right_alt1'></span></a>
	</div>
	<div class="leadin-wrap">	
		<a class="leadin-link" href="">	
			<img class="leadin-img" src="images/light-pipe.jpg" alt="" />	
			<h2 class="leadin-title">Solar Light Pipe</h2>
		</a>
	</div>

	<div class="interface-stuff">
		<ul class="lists-w-icons">
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class="icon">v</span> Video</a></li>			
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class='iconic pin'></span> Articles</a></li>		
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class='iconic link'></span> Links</a></li>
		</ul>	
		
		<ul class="lists-w-icons">					
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class='iconic chart'></span> Data Viz</a></li>
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class='iconic camera'></span> Slideshow</a></li>
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class='iconic tag_fill'></span> Tags</a></li>							
		</ul>
		
		<ul class="lists-w-icons">
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class="iconic eye"></span> Watch</a></li>
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class="iconic book_alt2"></span> Read</a></li>
			<li class="icon-list-item"><a class="icon-list-link" href=""><span class="icon">C</span> Visualize</a></li>						
		</ul>
	
<span class='iconic hash'></span>
<span class='iconic question_mark'></span>
<span class='iconic at'></span>
<span class='iconic pilcrow'></span>
<span class='iconic info'></span>
<span class='iconic arrow_left'></span>
<span class='iconic arrow_up'></span>
<span class='iconic arrow_right'></span>
<span class='iconic arrow_down'></span>
<span class='iconic home'></span>
<span class='iconic sun_fill'></span>
<span class='iconic cloud'></span>
<span class='iconic umbrella'></span>
<span class='iconic star'></span>
<span class='iconic moon_fill'></span>
<span class='iconic heart_fill'></span>
<span class='iconic cog'></span>
<span class='iconic bolt'></span>
<span class='iconic key_fill'></span>
<span class='iconic rain'></span>
<span class='iconic denied'></span>
<span class='iconic mail'></span>
<span class='iconic pen'></span>
<span class='iconic check'></span>
<span class='iconic check_alt'></span>
<span class='iconic x'></span>
<span class='iconic x_alt'></span>
<span class='iconic left_quote'></span>
<span class='iconic right_quote'></span>
<span class='iconic plus'></span>
<span class='iconic minus'></span>
<span class='iconic curved_arrow'></span>
<span class='iconic document_alt_fill'></span>
<span class='iconic calendar'></span>
<span class='iconic map_pin_alt'></span>
<span class='iconic comment_alt1_fill'></span>
<span class='iconic comment_alt2_fill'></span>
<span class='iconic pen_alt_fill'></span>
<span class='iconic pen_alt2'></span>
<span class='iconic chat_alt_fill'></span>
<span class='iconic plus_alt'></span>
<span class='iconic minus_alt'></span>
<span class='iconic bars_alt'></span>
<span class='iconic book_alt'></span>
<span class='iconic aperture_alt'></span>
<span class='iconic beaker_alt'></span>
<span class='iconic left_quote_alt'></span>
<span class='iconic right_quote_alt'></span>
<span class='iconic arrow_left_alt1'></span>
<span class='iconic arrow_up_alt1'></span>
<span class='iconic arrow_right_alt1'></span>
<span class='iconic arrow_down_alt1'></span>
<span class='iconic arrow_left_alt2'></span>
<span class='iconic arrow_up_alt2'></span>
<span class='iconic arrow_right_alt2'></span>
<span class='iconic arrow_down_alt2'></span>
<span class='iconic brush'></span>
<span class='iconic brush_alt'></span>
<span class='iconic eyedropper'></span>
<span class='iconic layers'></span>
<span class='iconic layers_alt'></span>
<span class='iconic compass'></span>
<span class='iconic award_fill'></span>
<span class='iconic beaker'></span>
<span class='iconic steering_wheel'></span>
<span class='iconic eye'></span>
<span class='iconic aperture'></span>
<span class='iconic image'></span>
<span class='iconic chart'></span>
<span class='iconic chart_alt'></span>
<span class='iconic target'></span>
<span class='iconic tag_fill'></span>
<span class='iconic rss'></span>
<span class='iconic rss_alt'></span>
<span class='iconic share'></span>
<span class='iconic undo'></span>
<span class='iconic reload'></span>
<span class='iconic reload_alt'></span>
<span class='iconic loop_alt1'></span>
<span class='iconic loop_alt2'></span>
<span class='iconic loop_alt3'></span>
<span class='iconic loop_alt4'></span>
<span class='iconic spin'></span>
<span class='iconic spin_alt'></span>
<span class='iconic move_horizontal'></span>
<span class='iconic move_horizontal_alt1'></span>
<span class='iconic move_horizontal_alt2'></span>
<span class='iconic move_vertical'></span>
<span class='iconic move_vertical_alt1'></span>
<span class='iconic move_vertical_alt2'></span>
<span class='iconic move'></span>
<span class='iconic move_alt1'></span>
<span class='iconic move_alt2'></span>
<span class='iconic transfer'></span>
<span class='iconic download'></span>
<span class='iconic upload'></span>
<span class='iconic cloud_download'></span>
<span class='iconic cloud_upload'></span>
<span class='iconic fork'></span>
<span class='iconic play'></span>
<span class='iconic play_alt'></span>
<span class='iconic pause'></span>
<span class='iconic stop'></span>
<span class='iconic eject'></span>
<span class='iconic first'></span>
<span class='iconic last'></span>
<span class='iconic fullscreen_alt'></span>
<span class='iconic fullscreen_exit'></span>
<span class='iconic fullscreen_exit_alt'></span>
<span class='iconic equalizer'></span>
<span class='iconic article'></span>
<span class='iconic read_more'></span>
<span class='iconic list'></span>
<span class='iconic list_nested'></span>
<span class='iconic cursor'></span>
<span class='iconic dial'></span>
<span class='iconic new_window'></span>
<span class='iconic trash_fill'></span>
<span class='iconic battery_half'></span>
<span class='iconic battery_empty'></span>
<span class='iconic battery_charging'></span>
<span class='iconic chat'></span>
<span class='iconic mic'></span>
<span class='iconic movie'></span>
<span class='iconic headphones'></span>
<span class='iconic user'></span>
<span class='iconic lightbulb'></span>
<span class='iconic cd'></span>
<span class='iconic folder_fill'></span>
<span class='iconic document_fill'></span>
<span class='iconic pin'></span>
<span class='iconic map_pin_fill'></span>
<span class='iconic book'></span>
<span class='iconic book_alt2'></span>
<span class='iconic box'></span>
<span class='iconic calendar_alt_fill'></span>
<span class='iconic comment_fill'></span>
<span class='iconic iphone'></span>
<span class='iconic bars'></span>
<span class='iconic camera'></span>
<span class='iconic volume_mute'></span>
<span class='iconic volume'></span>
<span class='iconic battery_full'></span>
<span class='iconic magnifying_glass'></span>
<span class='iconic lock_fill'></span>
<span class='iconic unlock_fill'></span>
<span class='iconic link'></span>
<span class='iconic wrench'></span>
<span class='iconic clock'></span>

<div class="entry-meta">
	<div class="article-tags">
		<p><span class='iconic tag_fill'></span> Tags</p>
		<ul>
			<li><a href="">Solar</a></li>
			<li><a href="">Light</a></li>
			<li><a href="">Energy</a></li>																								
		</ul>
	</div>

</div>
<div class="sidebar">
<div class="links-section">
	<h2>Recent</h2> 
	<ul>
		<li><a href="http://www.thebatt.com/colombia-enlists-a-m-help-to-purify-dirty-waters-1.2844448"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

		<li><a href="http://www.seco.cpa.state.tx.us/colonias.htm"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

		<li><a href="http://aggie-horticulture.tamu.edu/earthkind/drought/water/"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
	<ul>
</div>
</div>
</article><!-- /.entry-content -->
