<section class="archive-grid">	
	<h1 class="article-title"><%= title %></h1>
	
			<div class="links-section">
				<ul>
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

					<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

					<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
					<li><a href="/tabs"><span class='iconic pin'></span> TABS<em>Research at Texas A&amp;M and the TABS Gulf Coast Buoys</em></a></li>

					<li><a href="/obesity"><span class='iconic chart'></span> Slimming Down a Super Sized Nation<em>Texas A&amp;M is finding new ways to help the problem</em></a></li> 

					<li><a href="/water"><span class='iconic pin'></span> Water Desalination<em>The Colonias Region and the help Texas A&amp;M is providing</em></a></li> 

					<li><a href="/light"><span class='icon'>v</span> Solar Light Pipe<em>Texas A&amp;M Architecture researchers solving problems</em></a></li>
				
				<ul>
			</div>
			<div class="sidebar">	
				<div class="links-section">
						<h2>Capacities</h2> 
						<ul>
							<li><a href=""><span class='iconic document_alt_fill'></span> Lorem Ipsum<em>Capacities</em></a></li>

							<li><a href=""><span class='iconic document_alt_fill'></span> Lorem Ipsum<em>Rankings</em></a></li> 

						<ul>
				</div>	
			</div>	

</section><!-- /.archive-grid -->