.funding {

}
.funding p {
}
.funding p span {
	font-size: 22px;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.funding-total-availible {
	width: 75%;	
	float: left;
}
.funding-management-fee {
	width: 24%;
	float: right;	
}
.paths {
	clear: both;
	margin-bottom: 5px;
	overflow: hidden;
	width: 92%;
}
.direct-path {
	width: 40%;
	float: left;
}
.strategic-path {
	width: 59%;
	float: right;	
}
.funding-dev-pool {
	width: 69%;
	float: left;
}
.funding-carry-forward {
	width: 29%;
	margin-left: 2%;
	float: left;	
	position: relative;
}
.funding-total {
	clear: both;
	width: 92%;
}
.funding-box {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	padding: 15px 0 40px 12px;
	margin-bottom: 1%;
	box-sizing: border-box;
	max-height: 90px;
}
.funding-parent {
	cursor: pointer;
}
.funding-parent:hover {
	cursor: pointer;
	box-shadow: inset 0 0 1px rgba(0,0,0,.6);
}
.funding-box p {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}
.entry-content .funding-box p {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	width: 90%;
}