$link1 = #A79B82
$copy_color = #666
@import('fonts');
@import('reset');
@import('globals');
@import('viz');

.site-title {
	display: block;
	width: 226px;
	height: 49px;
	float: left;
}
.site-title a {
	display: block;
	width: 226px;
	height: 49px;
	text-indent: -999em;
	background: url('/images/R@A&M-logo.png') no-repeat left 0px;
	float: left;
	padding-top: 5px;
	opacity: 1;
	-webkit-transition: opacity .3s ease;	
}
.site-title a:hover {
	opacity: .5;
}
.menu-button {
	float: right;
	cursor: pointer;
	color: #999;
	margin-top: 5px;
	padding: 10px 10px 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.menu-button span.iconic {
	font-size: 18px;
	color: #999;
	width: 100%;
	padding: 1px;
}
.menu-button.active {
	background: #332C2C url("/images/footer-background-style2.jpg");
	border: 1px solid #333;	
}
.menu-button.active span.iconic {
	color: #ccc;
}
[role="navigation"] {
	background: #332C2C url("/images/footer-background-style2.jpg");	
	clear: both;
	list-style: none;
	margin: 0;
	display: none;
	position: absolute;
	top: 53px;
	right: 5%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;		
	z-index: 3;
	width: 200px;
	box-shadow: 0 2px 15px rgba(0,0,0,.3);
}
.nav-link {
	display: block;
	margin-right: 5px;
	text-decoration: none;
	padding: 10px 22px;
	border-bottom: 1px solid #444;
}
[role="navigation"] li:last-child .nav-link{
	border-bottom: none;
}
.nav-link, .nav-link .iconic {
	color: #999;
	font-size: 22px;
	padding-right: 5px;	
}
.nav-link .iconic {
	font-size: 16px;
}
.nav-link:hover,
.nav-link .iconic:hover {
	color: #fff;
}

[role="main"] {
	clear: both;
	padding-bottom: 50px;
}
.container {

}
.wrap {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 5%;
	padding-right: 5%;
	position: relative;	
}
#site-header {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 12px rgba(0,0,0,.075);	
	background-color: #f7f7f7;
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #eaeaea); 
  background-image:    -moz-linear-gradient(top, #f7f7f7, #eaeaea);
  background-image:     -ms-linear-gradient(top, #f7f7f7, #eaeaea);
  background-image:      -o-linear-gradient(top, #f7f7f7, #eaeaea);
	position: relative;
}
.header-wrap {
	padding: 15px 5%;	
}
.search-input {
	border-radius: 50px;
	padding: 9px 20px 9px 30px;
	border: 1px solid #ddd;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.05);
	background: #fff url("/images/search.png") no-repeat 5px 50%;
	width: 220px;
	float: right;
	position: relative;
	top: 10px;
	right: 0;
}
/* Article */
/*
date {
	border-radius: 50px;
	border: 2px solid #999;
	text-align: center;
	font-family: "proxima-nova-condensed";
	display: block;
	float: left;
	margin: -5px 10px 5px 0;	
	color: #c7c8ca;
	border-radius: 100px;
	padding: 7px 14px;
	width: 50px;
	font-size: 13px;
}
date .word1 {
	display: block;
	width: 100%;		
}
date .word2 {
	font-size: 20px;
	display: block;
}
date .word3 {
		display: none;
}
*/
date {
	font-family: "proxima-nova-condensed";
	display: block;
	color: #999;
}
.article-title {
	font-family: "proxima-nova-condensed";
	font-size: 26px;
	line-height: 40px;
	margin: .6em 0;
	clear: both;	
}
.article-title {
	color: #500000;
}
.entry-content p {
	font-size: 16px;
	line-height: 22px;	
	margin: 1.2em 0;
}
.entry-content em {
	font-style: italic;
}
.entry-content p.light {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
}
.entry-content p.big {
	font-size: 20px;
	line-height: 24px;
}
.entry-content h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 10px;
}
.entry-content p {
	margin: 1.2em 0;
}	
.entry-content ul,
.archive-grid ul {
	list-style: none;
}
.entry-content li {
	padding: .2em 0;
	font-size: 16px;
}
.archive-grid ul li a {
	padding: 1em .75em;
	-webkit-transition: none;
}
.archive-grid ul li:nth-child(odd) a {
	background: #f9f9f9;
}
p.big-text {
	font-size: 46px;
	line-height: 50px;
}
.entry-meta {
	padding-top: 2em;
	padding-bottom: 2em;	
}
.entry-meta a {
	color: #999;
	text-decoration: none;
}
.entry-content .article-tags p {
	float: left;
	margin: 0 15px 0 0;	
}
.article-tags ul {
	float: left;
}
.entry-content .article-tags li {
	float: left;
	margin: 0 15px 0 0;
	padding: .25em 0;
	display: block;		
}
.entry-meta a:hover {
	color: #555;
}
/* -- Buttons -- */
.entry-content .button {
	margin: 0 1em 2em 0;
	float: left;
	padding: .5em 1em;
	color: #555;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 0 7px rgba(255,255,255,.9);
	text-decoration: none;	
}
.leadin-wrap {
	float: right;
	width: 100%;
	overflow: hidden;
	margin-bottom: 2%;
}
.leadin-link {
	position: relative;
	overflow: hidden;
	display: block;
	text-decoration: none;
}
.leadin-img {
	max-width: 100%;	
	display: block;
	overflow: hidden;	
}
/* 
h2.leadin-title {
	display: block;	
	position: absolute;
	bottom: 0;
	padding: 15px;
	margin-bottom: 0;
	width: 100%;
	color: #fff;
	font-size: 38px;
	font-weight: 100;
	background: rgba(50,50,50,.7);
	box-shadow: inset 0 -20px 20px rgba(0,0,0,.4);		
}
.second-level h2.leadin-title {
	font-size: 28px;
	bottom: -4px;
} */
.leadin-link p.leadin-excerpt {
	margin-top: 2%;
	padding-top: 0;
	color: $copy_color;
}
h2.leadin-title {
	display: block;	
	position: relative;
	padding: 5% 0 0;
	width: 100%;
	color: $link1;
	font-size: 38px;
}
.second-level h2.leadin-title {
	font-size: 28px;
}
.entry-content {
	color: $copy_color;
}
.entry-content .button {
	color: #555;
	background-color: #EBE8DE;
  background-image: -webkit-linear-gradient(top, #EBE8DE, #C8BD9B); 
  background-image:    -moz-linear-gradient(top, #EBE8DE, #C8BD9B);
  background-image:     -ms-linear-gradient(top, #EBE8DE, #C8BD9B);
  background-image:      -o-linear-gradient(top, #EBE8DE, #C8BD9B);			
}
.entry-content .button:hover {	
	background-color: #EBE8DE;
  background-image: -webkit-linear-gradient(top, #EBE8DE, #B7A66D); 
  background-image:    -moz-linear-gradient(top, #EBE8DE, #B7A66D);
  background-image:     -ms-linear-gradient(top, #EBE8DE, #B7A66D);
  background-image:      -o-linear-gradient(top, #EBE8DE, #B7A66D);
}
.entry-content .button.contrast {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);	
	background-color: #7d1d1d;
  background-image: -webkit-linear-gradient(top, #842828, #500000); 
  background-image:    -moz-linear-gradient(top, #842828, #500000);
  background-image:     -ms-linear-gradient(top, #842828, #500000);
  background-image:      -o-linear-gradient(top, #842828, #500000);			
}
.entry-content .button.contrast:hover {	
	background-color: #500000;
  background-image: -webkit-linear-gradient(top, #7d1d1d, #370000); 
  background-image:    -moz-linear-gradient(top, #7d1d1d, #370000);
  background-image:     -ms-linear-gradient(top, #7d1d1d, #370000);
  background-image:      -o-linear-gradient(top, #7d1d1d, #370000);
}

.leadin-wrap.thumbs {
	position: absolute;
	right: 63px;
	top: 295px;	
	width: 150px;
	overflow: hidden;
}
.leadin-wrap.thumbs h2.leadin-title,
.leadin-wrap.thumbs .iconic,
.leadin-wrap.thumbs .icon {
	font-size: 16px;
	font-size: 32px;
	padding: 15px 15px 0 2px;
}
.leadin-wrap.thumbs.second {
	right: 245px;
}
.arrow {
	padding: 15px 10px;
	margin: -5px 5px 0;
	border: 1px solid #c7c8ca;
	background: url("/images/arrows.png") no-repeat 6px 50%;
	text-indent: -999em;
	border-radius: 50px;
	display: block;
	width: 40px;
	height: 40px;
	float: left;
}
.arrow.right {
	background-position: -38px 50%;
}

.interface-stuff {
	clear: both;
	margin-bottom: 50px;
	overflow: hidden;
}
.interface-stuff li a,
.interface-stuff li a .iconic {
	font-size: 18px;
	text-decoration: none;
}
.style1 .interface-stuff li a,
.style1 .interface-stuff li a .iconic {
	color: $link1;
}
.style1 .interface-stuff li a:hover,
.style1 .interface-stuff li a:hover .iconic {
	color: darken($link1, 30%);
}

.links-section {
	display: block;
	width: 100%;
	margin-top: 46px;
}
body.archive .links-section {
	margin-top: 0;
}
.links-section h2 {
	border-top: 1px solid #999;		
	border-bottom: 1px solid #999;	
	padding: .35em 0 1.25em 0;
	color: #999;
	font-size: 20px;
	margin-bottom: 0;
}
body.home .links-section h2 {
	border: none;
	padding: 0;
}
.tags-section h2 {
	color: #999;
	font-size: 20px;	
}
.links-section li a {
	display: block;	
	position: relative;
  color: $link1;
	text-decoration: none;
	border-bottom: 1px solid #ddd;	
	padding: .75em 0 1em 0;
}
.links-section li a:hover {
  color: darken($link1, 30%);
	text-decoration: none;
	border-bottom: 1px solid #aaa;
}
.links-section li a .iconic {
  color: $link1;
}
.links-section li a:hover .iconic {
  color: darken($link1, 30%);
}
.links-section li a em {
	color: #999;
	display: block;
	padding-top: 10px;
	font-size: 14px;
}
.links-section li a:hover em {
	color: #6b6d73;
}
.footer-wrap {
	padding-top: 1.5em;
	padding-bottom: 1.5em;	
}
.site-footer {
	background: #332C2C url("/images/footer-background-style2.jpg");
	color: #aaa;
	box-shadow: inset 0 5px 20px rgba(0, 0, 0, .2);
	border-top: 8px solid #CCC;	
}
.site-footer a {
	color: #ccc;
	text-decoration: none;
}
.site-footer .footer-wrap ul li {
	padding: 0;
	margin: 0;
}
.footer-wrap a {
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;	
	display: block;
	padding: 10px 0;
}
.footer-wrap ul:first-child li:first-child a {
	border-top: 1px solid transparent;
}
.footer-wrap ul:last-child li:last-child a {
	border-bottom: 1px solid transparent;
}
.site-footer a:hover {
	color: #fff;
	text-decoration: none;
}	
.site-footer ul,
.lists-w-icons {
	list-style: none;
	display: block;
}
.site-footer ul li {
	margin: .5em 0;
}	
.site-footer .copyright {
	background: rgba(0,0,0,.2);
	clear: both;	
}	
.site-footer .copyright ul {
	float: none;
	width: 100%;
	clear: both;
	padding-top: 10px;
}
.site-footer .copyright ul li {
	display: block;
	padding: 5px 17px 5px 0;	
	font-size: 13px;	
}
.site-footer .copyright ul li.footer-logo-item {
	padding: 10px 0;	
}	
.site-footer .copyright ul li.footer-logo-item a {
	padding-top: 0px;
	opacity: .8;
}
.site-footer .copyright ul li.footer-logo-item a:hover {
	opacity: 1;
}		
.branding-mark {
	max-width: 200px;
	height: auto;
}
.tags-section ul {
	overflow: hidden;
}
.entry-content .tags-section ul li {
	display: block;
	float: left;
 	margin: 0 5px 5px 0;
	padding: 0;	
}
.tags-section li a {
	padding: 8px 18px;
	text-decoration: none;
	background: #f4f4f4;
	color: $link1;
	display: block;
	border-radius: 3px;
	box-shadow: inset 0 5px 20px rgba(255,255,255,.5);
}
.tags-section li a:hover {
	background: #eee;
	color: darken($link1, 30%);	
}
@media all and (min-width: 480px) {
	.entry-content p {
		font-size: 18px;
		line-height: 24px;
	}	
	.article-title {
		font-size: 42px;
		line-height: 40px;
	}
	.site-footer .footer-wrap ul li {
		float: left;
		width: 48%;	
	}
	.site-footer .footer-wrap ul li a {
		border-color: transparent;	
		background: rgba(0,0,0,.2);
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 4px;
		margin-right: 4%;
	}
	.site-footer .copyright ul li {
		float: left;
		padding: 18px 17px 10px 0;		
	}		
}

@media all and (min-width: 800px) {
	html {
		background: #332C2C url("/images/footer-background-style2.jpg");
	}
	body {
		font-size: 100%;
	}
	.wrap {
		padding-left: 2em;
		padding-right: 2em;
	}
	[role="main"] {
		width: 100%;
		padding: 50px 0;		
		position: relative;
	}
	[role="navigation"] {
		background: transparent;	
		clear: none;
		display: block;
		position: relative;
		top: 0;
		right: 0;
		width: 65%;	
		float: right;
		box-shadow: none;	
	}	
	.nav-link {
		float: right;
		padding: 15px 0 15px 30px;	
		border: none;	
	}	
	.nav-link:hover,
	.nav-link .iconic:hover {
		color: darken($link1, 30%);
	}
	.menu-button {
		display: none;
	}
	.column {
		width: 60%;
		float: left;
		margin-left: 20%;	
	}
	date {
		border-top: 1px solid #999;		
		position: absolute;
		top: 146px;
		left: 0;
		padding: .35em 0;
		font-size: 20px;
		width: 17%;
	}
	date .iconic {
	}
	.entry-content p {
		font-size: 18px;
		line-height: 24px;
	}
	.entry-meta {
		top: 200px;
		left: 0;
		width: 17%;
		position: absolute;
		padding: 0;
	}	
	.entry-content .article-tags p {
		color: #999;			
		margin: 0;
		padding: .3em 0 .25em;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;	
		font-family: "proxima-nova-condensed";
		font-weight: 300;
		font-size: 20px;
		float: none;
	}	
	.article-tags ul {
		float: none;
	}
	.entry-content .article-tags li {
		float: none;
		margin: 0;
		padding: 0;	
	}
	.entry-content .article-tags li a {
		margin: 0;
		padding: .5em 0 .5em 1.35em;
		border-bottom: 1px solid #ddd;
		display: block;	
		width: 100%;
		color: $link1;	
	}	
	.article-tags li a:hover {
		color: darken($link1, 30%);
		border-bottom: 1px solid #999;		
	}
	.archive-grid ul li {
		width: 20%;
		float: left;
	}
	.archive-grid ul li a {
		padding: 1em;
		height: 200px;
	}
	.shadow {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
	.site-footer ul,
	.lists-w-icons {
		float: left;
		width: 20%;
	}
	.site-footer .footer-wrap ul:last-child {
		float: right;
	}	
	.site-footer .footer-wrap ul li {
		float: none;
		width: 100%;	
	}	
	.site-footer .footer-wrap ul li a {
		border-color: transparent;	
		background: transparent;
		padding: 5px 0;
		border-radius: 0;
		margin-bottom: 0;
		margin-right: 0;
	}	
	.site-footer .copyright ul {
		padding-top: 0;
	}	
	.footer-wrap a {
		border-color: transparent;
		padding: 5px 0;
	}	
	.site-footer .copyright {
		box-shadow: inset 0 -5px 15px rgba(0, 0, 0, .1);
	}
	.site-footer .copyright ul li.footer-logo-item {
		float: right;	
	}	
	.branding-mark {
		max-width: 200px;
		height: auto;
	}
	.sidebar {
		float: right;
		width: 17%;
		margin-top: 50px;
	}
	body.home .sidebar {
		margin-top: 0;
	}	
	.first-posts-section {
		float: left;
		width: 57%;
	}
	.last-posts-section,
	.tags-section {
		float: right;
		width: 40%;
	}
	.second-level {
		width: 49%;
		float: left;
	}
	.second-level-right {
		float: right;
	}	
}
@media all and (-webkit-min-device-pixel-ratio : 1.5) {
	.site-title a {
		background-image: url('/images/R@A&M-logo@2x.png');
		background-size: 226px 49px;
	}
}
@import('flexslider');
#carousel {
	margin-bottom: 40px;
}